body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 20px;
    padding-bottom: 5px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.hero {
    height: 280px;
    background-image: url(../rifa/IMG-20250428-WA0043.jpg);
    background-size: cover;
    background-position: 0 -40px;
    border-top: 5px solid red;
    border-bottom: 5px solid yellow;
}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 12px;
    margin-top: -5px;
}

.content .penulis a {
    color: red;
    text-decoration: none;
}

.content .penulis a:hover {
    color: black;
    background-color: yellow;
}

.content p {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: justify;
}

ol li {
    margin-bottom: 10px;
    font-size: 12px;
    text-align: justify;
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}
@media screen and (max-width: 768px){
    .container {
        width: 100%;
        background-color: white;
    }
    .hero {
        height: 280px;
        background-image: url(../rifa/IMG-20250428-WA0044.jpg);
        background-size: 580px;
        border-top: 5px solid red;
        border-bottom: 5px solid yellow;
    }
    .header {
        padding: 20px;
        padding-bottom: 5px;
    }
    
    .header .judul {
        font-size: 20px;
        font-weight: bold;
    }
    
    .header ul li {
        display: inline-block;
        margin-top: 20px;
        margin-right: 40px;
        font-size: .8em;
        text-align: justify;
    }
    
    .header a {
        text-decoration: none;
        color: salmon;
        padding: 3px;
    }
    .content h2 {
        font-size: 20px;
        font-weight: bold;
    }
    
    .content .penulis {
        font-size: 11px;
        margin-top: -5px;
        text-transform: capitalize;
    }
    
    .content .penulis a {
        color: red;
        text-decoration: none;
    }
    
    .content .penulis a:hover {
        color: black;
        background-color: yellow;
    }
    
    .content p {
        margin-bottom: 20px;
        font-size: 10px;
        text-align: justify;
    }
    
    ol li {
        margin-bottom: 10px;
        font-size: 10px;
        text-align: justify;
    }
    
    .footer {
        background-color: #333;
        padding: 10px;
    }
    
    .footer .copy {
        color: #eaeaea;
        text-align: center;
        font-size: 10px;
    }
    h4 {
        font-size: 14px;
    }
    
}